
<nav class="bg-blue-50 opacity-80">
    <div class="container w-full flex flex-row h-20 items-center justify-center">
  

  
 
        <ul class="flex rounded-lg flex-row space-x-8 mt-0 text-sm font-medium border-0 float-right">
          <li>
            <a routerLink="/salesman"
              class="block py-2 pl-3 pr-4  rounded hover:bg-transparent border-0 hover:text-blue-700 p-0 dark:text-gray-400  dark:hover:bg-gray-700  dark:hover:bg-transparent">home</a>
          </li>
          <li>
            <a routerLink="/teleprospector"
              class="block py-2 pl-3 pr-4  rounded hover:bg-gray-100 hover:bg-transparent border-0 hover:text-blue-700 p-0 dark:text-gray-400  dark:hover:bg-gray-700  dark:hover:bg-transparent">Telepro</a>
          </li>
          <li>
            <a routerLink="/gifSpeed"
              class="block py-2 pl-3 pr-4  rounded hover:bg-gray-100 hover:bg-transparent border-0 hover:text-blue-700 p-0 dark:text-gray-400  dark:hover:bg-gray-700  dark:hover:bg-transparent">Voiture</a>
          </li>
        </ul>
      </div>

  </nav>