<div class="h-screen flex flex-col justify-center items-center bg-[url('/assets/compOnde.gif')] bg-cover">
  <div class="w-3/5 p-5 bg-white rounded-lg flex flex-col items-center">
    <h3 class="text-xl font-semibold mb-2 uppercase">HTML</h3>
    <div class="bg-green-200 w-11/12">
      <div class="bg-blue-400 rounded-lg text-end w-11/12" value="75" max="100"><p class="pr-5">90%</p></div>
    </div>

    <h3 class="text-xl font-semibold mb-2 uppercase">CSS</h3>
    <div class="bg-green-200 w-11/12">
      <div class="bg-blue-400 rounded-lg text-end w-11/12" value="75" max="100"><p class="pr-5">90%</p></div>
    </div>
    <h3 class="text-xl font-semibold mb-2 uppercase">typescript</h3>
        <div class="bg-green-200 w-11/12">
      <div class="bg-blue-400 rounded-lg text-end w-10/12" value="75" max="100"><p class="pr-5">80%</p></div>
    </div>
      <h3 class="text-xl font-semibold mb-2 uppercase">C#</h3>
      <div class="bg-green-200 w-11/12">
      <div class="bg-blue-400 rounded-lg text-end w-10/12" value="75" max="100"><p class="pr-5">80%</p></div>
    </div>
    <h3 class="text-xl font-semibold mb-2 uppercase">PHP</h3>
    <div class="bg-green-200 w-11/12">
      <div class="bg-blue-400 rounded-lg text-end w-7/12" value="75" max="100"><p class="pr-5">60%</p></div>
    </div>
    <h3 class="text-xl font-semibold mb-2 uppercase">javascript</h3>
    <div class="bg-green-200 w-11/12">
      <div class="bg-blue-400 rounded-lg text-end w-6/12" value="75" max="100"><p class="pr-5">50%</p></div>
    </div>
    <div class="items-center text-left">
      <p class="text-lg font-bold">
        Bonjour, je suis autonome et capable d'une grande adaptabilité au niveau du langage ou de la stack. 
      </p>
      <p class="text-lg font-bold">
        Si vous êtes intéréssé je suis disponible pour tout échange de préférence par téléphone au
      </p>
      <p class="text-center uppercase md:text-3xl">
        <a href="tel:+337 85 57 92 18">07 85 57 92 18</a>
      </p>
      <p class="text-lg text-center font-bold">
        ou par mail vers
      </p>
      <p class="text-center md:text-3xl"><a href="mailto:arnaudclaire20@yahoo.fr"><u><i>arnaudclaire20@yahoo.fr</i></u></a></p>
      
    </div>

  </div>
  
</div>
<!-- <div class="h-screen flex flex-col items-center justify-center bg-[url('/assets/compOnde.gif')] bg-cover">
  <div class="w-3/5 flex items-center text-center text-4xl  rounded-lg">
    <p class="-mt-10 p-5 absolute w-3/5 z-10"><span class="hidden lg:flex">Bonjour si vous voyez ce message c'est que vous êtes intéressé par mon profil et mon CV</span>
      <a href="mailto:arnaudclaire20@yahoo.fr"><u><i><strong>Contactez moi</strong></i></u></a></p>
    <img class="absolute w-3/5" src="/assets/messBox.png" alt="messageBox">
  </div>
</div> -->